<div [routerLink]="['/']" class="title">
   <h1>The Spoon</h1>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
         d="M245.8 220.9c-14.5-17.6-21.8-39.2-21.8-60.8C224 80 320 0 416 0c53 0 96 43 96 96c0 96-80 192-160.2 192c-21.6 0-43.2-7.3-60.8-21.8L54.6 502.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L245.8 220.9z"
      />
   </svg>
</div>

<nav>
   <div [routerLink]="['settings']" class="link">Settings</div>
   <div class="link" (click)="setIsOpen(true)">Log In</div>
</nav>
<app-login-modal
   [isOpen]="isOpen"
   (setIsOpen)="setIsOpen($event)"
></app-login-modal>
<!-- <div class="modal" *ngIf="isOpen">
   <div class="modal-container">
      <div class="modal--close" (click)="toggleLog()">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
         >
            <path
               fill-rule="evenodd"
               d="m12 10.94 6.22-6.22a.75.75 0 0 1 1.147.956l-.087.104L13.06 12l6.22 6.22a.75.75 0 0 1-.956 1.147l-.104-.087L12 13.06l-6.22 6.22a.75.75 0 0 1-1.147-.956l.087-.104L10.94 12 4.72 5.78a.75.75 0 0 1 .956-1.147l.104.087L12 10.94Z"
            ></path>
         </svg>
      </div>
      <app-login-form></app-login-form>
   </div>
</div> -->
