@font-face {
   font-family: 'Raleway';
   src: url('./assets/font/Raleway/static/Raleway-Bold.ttf');
   font-weight: bold;
}
@font-face {
   font-family: 'Raleway';
   src: url('./assets/font/Raleway/static/Raleway-Italic.ttf');
   font-weight: italic;
}
@font-face {
   font-family: 'Raleway';
   src: url('./assets/font/Raleway/static/Raleway-Medium.ttf');
   font-weight: normal;
}

:root {
   --font-family: 'Raleway', arial, sans-serif;

   --color-primary: #00665c;
   --color-grey: #f0f0f0;

   --filter-primary: invert(24%) sepia(94%) saturate(807%) hue-rotate(137deg)
      brightness(97%) contrast(101%);
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: 1rem;
}

a {
   text-decoration: none;
}

body {
   font-family: var(--font-family);
}

main {
   box-shadow: rgba(126, 126, 126, 0.25) 0px 30px 60px -12px inset,
      rgba(185, 185, 185, 0.3) 0px 18px 36px -18px inset;
   background: #ffffff;
}

.btn {
   cursor: pointer;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 10px;
   border-radius: 10px;
   border-style: none;
   color: white;
   background: var(--color-primary);
   &:hover {
      background-color: rgba(0, 77, 69);
   }
}
