<form [formGroup]="loginForm" (submit)="handleSubmit($event)">
   <div class="input-text--container">
      <input
         [ngClass]="{
            invalid:
               loginForm.controls['login'].invalid &&
               loginForm.controls['login'].touched
         }"
         (focus)="onFocus('login', true)"
         (focusout)="onFocus('login', false)"
         type="text"
         id="login"
         name="login"
         formControlName="login"
      />
      <app-error-message
         *ngIf="
            loginForm.controls['login'].invalid &&
            loginForm.controls['login'].touched
         "
         [content]="'Login is required (Lenght 3)'"
      />
      <label
         [ngClass]="{
            focus: loginForm.value.login !== '' || isFocus.login
         }"
         for="login"
         >E-Mail</label
      >
   </div>
   <div class="input-text--container">
      <input
         [ngClass]="{
            invalid:
               loginForm.controls['password'].invalid &&
               loginForm.controls['password'].touched
         }"
         (focus)="onFocus('password', true)"
         (focusout)="onFocus('password', false)"
         type="password"
         id="password"
         name="password"
         formControlName="password"
      />
      <app-error-message
         *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
         "
         [content]="'Password is required (Lenght 8)'"
      />
      <label
         [ngClass]="{
            focus: loginForm.value.password !== '' || isFocus.password
         }"
         for="password"
         >Mot de Passe</label
      >
   </div>
   <div class="input-checkbox--container">
      <input
         type="checkbox"
         name="rememberMe"
         id="rememberMe"
         formControlName="rememberMe"
      />
      <label for="rememberMe">Se souvenir de moi</label>
   </div>
   <button
      [ngClass]="{ submit_valid: loginForm.valid }"
      class="submit"
      type="submit"
   >
      Connexion
   </button>
   <div class="btn subscribe">S'inscrire ?</div>
</form>
